@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #081333;
    color: #4ac6ff;
    font-family: "Quicksand", sans-serif;
    /* background: url('./img/Image_-_Cost_Accounting_.jpeg-900x510.jpg') center center/cover no-repeat; */

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* header{
    height: 100vh;
} */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    background-color: #081333;
  
}
#navbar img{
    width: 80px;
    margin-left: 100px;
}
#navbar ul{
    display: flex;
    margin-right: 80px;
}
#navbar ul li a {
    background-color: #081333;
    padding: 15px 20px;
    color: #4ac6ff;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar ul li a:hover{
    border-bottom: 4px sold #383535;

}
.InputContainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #4ac6ff;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: #081333;
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: #4ac6ff;
    font-size: 13.4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
header.content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: 75%;
    margin-left: 180px;
    font-weight: 500;
    padding: 50px 80px;
    justify-content: space-between;
  

}
header.content h1{
    font-size: 40px;
    padding: 20px;
}
header.content h3{
    margin: 20px 0 40px;
    font-size: 30px;
}
header.content p{
    font-size: 20px;
}
.content{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 600px;
    margin-bottom: 0;
    margin-left: 50px;
    
}


.content img {
    width: 600px;
    
    padding: 17px;
    border-radius: 50px;
    
}
.container{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 0;
    
}
.container img{
    width: 600px;
    
    padding: 17px;
    border-radius: 50px;
}
.department{
    display: inline-block;
    margin-left: 50px;
    
}
/* .title {
    margin-left: 80px;
} */





button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #50add2;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  a{
    background-color: #50add2;
    color: #150f0f;
  }
  
  button:hover {
    background: #87dcd1;
  }
  
  button > svg {
    width: 50px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  
  .btn {
    background-color: #50add2;
    padding: 14px 40px;
    color: #150f0f;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #a7cde0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   
   .btn span:last-child {
    display: none;
   }
   
   .btn:hover {
    transition: .4s;
    border: 2px dashed #4893a9;
    background-color: #fff;
    color: #87dcd1;
   }
   
   .btn:active {
    background-color: #79bae3;
   }
   
 #b1{
    position: relative;
    left:-25px;
    top:4px;
 }    
#b2{
    position: relative;
    top:-63px;
    left:365px;
}
#b3{
    position: relative; 
    top:-133px;
    left:750px;
}
 #b4{
    position: relative; 
    top:-205px;
    left:1105px;
 }   
#h5b1{
    position: relative;
    top:-170px;
    left:27px;
    width:300px;
    display: none;
}
#h5b2{
    position: relative;
    top:-175px;
    left:423px;
    width:300px;
    display: none;
}
#h5b3{
    position: relative;
    top:-178px;
    left:810px;
    width:300px;
    display: none;
}
#h5b4{
    position: relative;
    top:-185px;
    left:1170px;
    width:300px;
    display: none;
}
.div1{
    position: relative;
    top: 1185px;
     color: #4ac6ff;
    text-align: center;
    font-size: 15px;
    background-color: #081333;
    padding: 21px;
    height: 130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bx1{
    font-size: x-large;
    display: inline;
    color: #1333b3;
    position: absolute;
    top:1313px ;
    left:525px ;
}
#bx2{
    font-size: x-large;
    display: inline;
    color: #2fa043;
    position: absolute;
    top:1336px ;
    left:525px ;
}
#bx3{
    font-size: x-large;
    display: inline;
    color: #04298f;
    position: absolute;
    top:1358px ;
    left:525px ;
}
#bx4{
    font-size: x-large;
    display: inline;
    color: #ed650a;
    position: absolute;
    top:1380px ;
    left:525px ;
}
